<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionString>
		<add name="skola" connectionString="Data Source = LAPTOP-K2HFD6GP\SQLEXPRESS; Initial Catalog= projekat_2026_JanaLazarevic; Integrated security= True"/>
	</connectionString>
</configuration>